pulp_servers:
  pulp-primary:80:
    credentials: local
    repo_config_registration:
      schedule: "* * * * *"  # Run immediately for demo setup
      max_runtime: "300"
    repo_groups:
      default:
        schedule: "0 * * * *"  # Every hour
        max_concurrent_syncs: 1
        max_runtime: "1h"

  pulp-secondary:80:
    credentials: local
    repo_config_registration:
      schedule: "* * * * *"  # Run immediately for demo setup
      max_runtime: "300"
    repo_groups:
      external_repos:
        schedule: "*/5 * * * *"  # Every 5 minutes
        max_concurrent_syncs: 2
        max_runtime: "6h"
        pulp_master: pulp-primary:80
      internal_repos:
        schedule: "* * * * *"  # Every 1 minute
        max_concurrent_syncs: 2
        max_runtime: "1h"
        pulp_master: pulp-primary:80

credentials:
  local:
    username: admin
    vault_service_account_mount: local-auth

repo_groups:
  default:
    regex_include: ".*"  # Match all repositories
  external_repos:
    regex_include: "^ext"  # Match repositories starting with "ext"
  internal_repos:
    regex_include: "^int"  # Match repositories starting with "int"